body {
  margin: 0;
  height: 100vh;
  background: #ffe6f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Comic Sans MS", cursive;
}

.card {
  background: white;
  width: 330px;
  padding: 20px;
  border-radius: 22px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

img {
  width: 100%;
  border-radius: 18px;
  margin-bottom: 12px;
}

p {
  color: #444;
  font-size: 15px;
  line-height: 1.5;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}

button {
  padding: 10px 16px;
  border: none;
  border-radius: 14px;
  background: #ff5c8a;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
